:root {
  --Gray: hsl(278, 0%, 95%);
  --Orange: hsl(30, 77%, 52%);
  --Cyan: hsl(185, 98%, 23%);
  --Dark-cyan: hsl(179, 100%, 13%);
}

* {
  box-sizing: border-box;
}

::selection {
  background: teal;
}

body {
  background-color: var(--Gray);
  display: grid;
  font-family: 'Lexend Deca', sans-serif;
  min-height: 100vh;
  place-content: center;
}

main {
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 920px;
  overflow: hidden;
  width: 100%;
  transform: translateY(20px);
}

.column {
  padding: 48px;
  min-height: 500px;
}

.column:nth-child(1) {
  background-color: var(--Orange);
}

.column:nth-child(2) {
  background-color: var(--Cyan);
}

.column:nth-child(3) {
  background-color: var(--Dark-cyan);
}

.column > img {
  height: 40px;
  width: 64px;
}

.column:nth-child(1) > .btn {
  color: var(--Orange)
}

.column:nth-child(2) > .btn {
  color: var(--Cyan)
}

.column:nth-child(3) > .btn {
  color: var(--Dark-cyan)
}

.column > .btn:hover {
  background-color: transparent;
  color: var(--Gray);
}

.column > .btn:active {
  opacity: 0.4;
}

.heading {
  color: var(--Gray);
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 40px;
  margin-top: 38px;
  text-transform: uppercase;
}

.paragraph {
  color: white;
  font-size: 15px;
  line-height: 168%;
  margin-top: 30px;
  opacity: 0.75;
}

.btn {
  background-color: var(--Gray);
  border: none;
  box-shadow: inset 0 0 0 2px var(--Gray);
  border-radius: 99999px;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  line-height: 168%;
  margin-top: 80px;
  padding: 11px 32px 12px 31px;
  transition: all ease-in-out 200ms;
}

@media screen and (max-width: 960px) {
  body {
    padding: 24px;
  }

  main {
    grid-template-columns: unset;
    grid-template-rows: repeat(3fr, auto);
    max-width: 372px;
    transform: translateY(0);
  }

  .heading {
    margin-top: 32px;
  }

  .column {
    min-height: unset;
  }

  .btn {
    margin-top: 24px;
  }
}